.dashboard {

    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;

}

.estimate-wrapper {
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.status-sent {
    background-color: #ADE0FD;
}

.status-accepted {
    background-color: #AAFDD5;
}

.status-drafted {
    background-color: #DADADA;
}

.status-viewed {
    background-color: #AABCFD;
}

.status-expired {
    background-color: #FDAAAA;
}