.navbar-container {
    height: 10vh;
    display: flex;
    width: 100%;
    background-color: #EEE7FF;
}

.navbar-content {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #545357;
    line-height: 27px;
}

.navbar-search-bar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search-bar input {
    width: 460px;
    height: 31px;
    border: 1px solid #dedeeb;
    border-radius: 8px;
    position: relative;

}

.search-icon {
    position: absolute;
    top: 5%;
    right: 53%;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
}

.navbar-icons {
    width: 10%;
    display: flex;
    font-size: 18px;
}

.icons-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #8153E2;
    gap: 10px;

}
.placeholder-data {
    padding-left: 3rem;
}